{% extends 'base.html.twig' %}

{% block title %}BookDetails index{% endblock %}

{% block body %}
    <h1>Book Catalogue</h1>

    <table class="table">

        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book_detail in book_details %}
            <tr>
                <td>{{ book_detail.id }}</td>
                <td>{{ book_detail.title }}</td>
                <td>{{ book_detail.author }}</td>
                <td>
                    <a href="{{ path('book_details_show', {'id': book_detail.id}) }}">show</a>
                    <a href="{{ path('book_details_edit', {'id': book_detail.id}) }}">edit</a>
                    <a href="show.html.twig">Review this book</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('book_details_new') }}">Create new</a>
{% endblock %}
