{% extends 'base.html.twig' %}

{% block title %}BookDetails{% endblock %}

{% block body %}
    <h1>BookDetails</h1>

    <table class="table">
        <style>

        </style>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book_detail.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book_detail.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ book_detail.author }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_details_index') }}">back to list</a>

    <a href="{{ path('book_details_edit', {'id': book_detail.id}) }}">edit</a>

    {{ include('book_details/_delete_form.html.twig') }}
{% endblock %}
